body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000 !important;
  color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 5.5rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  backdrop-filter: blur(7px);
}

.loader {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.8) !important;
  z-index: 9999;
}

.nfts-table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

td {
  width: 150px;
  text-align: center;
  padding: 20px;
  vertical-align: top;
}

.rhombus {
background:
   linear-gradient(to top right   ,rgb(74 222 128) 49.5%, transparent 50%) top right,
   linear-gradient(to top left    ,rgb(74 222 128) 49.5%, transparent 50%) top left,
   linear-gradient(to bottom right,rgb(74 222 128) 49.5%, transparent 50%) bottom right,
   linear-gradient(to bottom left ,rgb(74 222 128) 49.5%, transparent 50%) bottom left;
  background-size:50% 50%;
  background-repeat:no-repeat;
  
  width:15px;  /* 2*sin(120/2)*150 = 260 */
  height:15px; /* 2*sin(60/2)*150  = 150 OR 2*cos(120/2)*150  = 150*/
  display:inline-block;
  margin:5px;
}

